@model ExpandableCategoryModel

@{
    var currentCategoryKey = ExpandableMonthModel.GetCategoryKey(Model.CategoryName);
    var rowClass = Model.IsNegativeBalance ? "" : "alert-success";
    var textColor = "black";
    if (Model.BackgroundLightness < 50)
    {
        textColor = "white";
    }
}

<div class="row @rowClass" style="background-color: @Model.BackgroundColor; color: @textColor">
    <a class="btn btn-link text-left" onclick="onToggleElement('@Model.ClientId')" style="font-size:large">
        <span class="d-inline-block" style="min-width:9em">@currentCategoryKey.Split("/").Last()</span>
        <partial name="_Summary" model="new decimal[] { Model.TotalExpense, Model.TotalIncome, Model.Balance }" />
    </a>
</div>

<div id="@Model.ClientId" style="display: none" class="row">
    <div class="col border">
        @if (Model.TransactionsList.Transactions.Count > 0)
        {
            <partial name="_Transactions" for="@Model.TransactionsList" />
        }

        @for (int ci = 0; ci < Model.Categories.Count(); ci++)
        {
            Model.Categories[ci].ClientIdPrefix = Model.ClientIdPrefix;
            Model.Categories[ci].BackgroundLightness = Model.BackgroundLightness + 5;
            <partial name="_ExpandableCategory" for="@Model.Categories[ci]" />

        }
    </div>
</div>