@model TransactionsListModel

<table class="table border rounded table-sm">
    @if (!Model.HideHeader)
    {
        <thead>
            <tr class="table-info">
                <th>Date</th>
                <th>Amount</th>
                <th>Details</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
    }
    <tbody>
        @for (var transx = 0; transx < Model.Transactions.Count; transx++)
        {
            var t = Model.Transactions[transx];
            var typeClass = t.Type == Core.Transactions.TransactionType.Income ? "table-success" : "";
            <tr id="@("trRow_" + t.TransactionId)" class="@typeClass">
                <td>
                    @{
                        var dateType = Model.ShowTime ? "datetime-local" : "date";
                        var dateWidth = Model.ShowTime ? "255px" : "162px";
                    }
                    <input id="date_@t.TransactionId" type="@dateType" asp-for="@Model.Transactions[transx].Date" class="form-control" style="width: @(dateWidth)!important;" />
                    @if (Model.ShowId)
                    {
                        <div>@t.TransactionId</div>
                    }
                </td>
                <td style="width:5%"><input id="amount_@t.TransactionId" asp-for="@Model.Transactions[transx].Amount" class="form-control auto-select" style="min-width:80px" /></td>
                <td style="width:75%">
                    <textarea id="details_@t.TransactionId" asp-for="@Model.Transactions[transx].Details" rows="@Model.DetailsHeight" class="form-control" style="min-width:220px"></textarea>
                </td>
                <td style="width:10%">
                    <input id="category_@t.TransactionId" asp-for="@Model.Transactions[transx].Category"
                           class="form-control auto-select" placeholder="name:key(opt)" style="min-width: 100px;" />
                </td>
                <td style="width:5%">
                    <input type="hidden" asp-for="@Model.Transactions[transx].TransactionId" />
                    <button class="updateBtn mb-1" style="width:70px" type="button" formAction="/Transactions/Api/?handler=Update"
                            onclick="onTransactionUpdate(this, '@t.TransactionId')">
                        update
                    </button><br />
                    <button style="width:70px" type="button" formAction="/Transactions/Api/?handler=Delete&id=@t.TransactionId"
                            onclick="onDelete(this, '@t.TransactionId')">
                        delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function onTransactionUpdate(button, id) {
        var date = document.getElementById("date_" + id).value;
        var details = document.getElementById("details_" + id).value;
        var amount = document.getElementById("amount_" + id).value;
        var category = document.getElementById("category_" + id).value;

        var handler = button.formAction;
        postAjax(handler,
            sender => {
                alert("succes");
            },
            sender => {
                alert("error");
            },
            {
                Date: new Date(date),
                Details: details,
                Amount: +amount,
                Category: category,
                TransactionId: id,
            }
        );
    }

    function onDelete(btn, id) {
        var handler = btn.formAction;
        postAjax(handler,
            sender => {
                var rowToRemove = document.getElementById("trRow_" + id);
                //rowToRemove.parentNode.removeChild(rowToRemove);
                rowToRemove.style.display = 'none';
            },
            sender => {
                alert("error");
            }
        );
    }
</script>