@page
@model ExpenseTracker.Web.Pages.Transactions.ByMonthsModel
@using ExpenseTracker.Core.Transactions
@{
}

<style>
    .by-months-col {
        min-width: 90px;
        text-align: left;
    }
</style>

<form method="post">
    <partial name="_TransactionsFilter" for="Filters"/>

    <div class="mycard text-center">
        <span class="d-inline-block expense text-center">
            <span class="d-inline-block w-100">Expense</span>
            <span>@Model.TotalExpense.ToString("N0") / @Model.AverageExpense.ToString("N0")</span>
        </span>
        <span class="d-inline-block income text-center">
            <span class="d-inline-block w-100">Income</span>
            <span>@Model.TotalIncome.ToString("N0") / @Model.AverageIncome.ToString("N0")</span>
        </span>
        @{ var avgBalClass = (Model.AverageBalance >= 0) ? "income" : "expense"; }
        <span class="d-inline-block text-center @avgBalClass">
            <span class="d-inline-block w-100">Balance</span>
            <span>@Model.Balance.ToString("N0") / @Model.AverageBalance.ToString("N0")</span>
        </span>
    </div>


    <div class="mycard">
        <div class="d-flex mb-1" style="gap: 0.5rem; font-weight: bold;">
            <span class="by-months-col">Month</span>
            <span class="by-months-col">Expense</span>
            <span class="by-months-col">Income</span>
            <span class="by-months-col">Balance</span>
        </div>
        @foreach (var month in Model.Months)
        {
            var expense = month.Where(x => x.Type == TransactionType.Expense).Sum(x => x.Amount);
            var income = month.Where(x => x.Type == TransactionType.Income).Sum(x => x.Amount);
            var balance = income-expense;
            var balanceClass = balance >= 0 ? "income" : "expense";
            <div class="d-flex align-items-center mb-1" style="gap: 0.5rem; min-width: 350px;">
                <span class="by-months-col">
                    @month.Key.Year.ToString("D4") - @month.Key.Month.ToString("D2")
                </span>
                <span class="by-months-col expense">
                    @expense.ToString("N0")
                </span>
                <span class="by-months-col income">
                     @income.ToString("N0")
                </span>
                <span class="by-months-col @balanceClass">
                     @balance.ToString("N0")
                </span>
            </div>
        }
    </div>

</form>