@model TransactionsListModel
<table class="ml-3">
    @if (!Model.HideHeader)
    {
        <thead>
            <tr class="table-info">
                @if (Model.ShowId)
                {
                    <th>Id</th>
                }
                <th>Date</th>
                <th>Amount</th>
                <th>Details</th>
                <th>Category</th>
                @if (Model.ShowSource)
                {
                    <th>Source</th>
                }
                @if (Model.HasFailed)
                {
                    <th>Reason</th>
                }
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
    }
    <tbody>
        @for (var transx = 0; transx < Model.Transactions.Count; transx++)
        {
            var t = Model.Transactions[transx];
            var typeClass = t.Type == Core.Transactions.TransactionType.Income ? "table-success" : "";
            <tr id="@("trRow_" + t.TransactionId)" class="@typeClass">
                @if (Model.ShowId)
                {
                    <td>
                        @t.TransactionId
                    </td>
                }
                <td>
                    <input type="hidden" asp-for="@Model.Transactions[transx].TransactionId" />
                    <input id="source_@t.TransactionId" type="hidden" value="@(Model.Transactions[transx].Source)" />
                    @{
                        var dateType = Model.ShowTime ? "datetime-local" : "date";
                        var dateWidth = Model.ShowTime ? "255px" : "162px";
                    }
                    <input id="date_@t.TransactionId" type="@dateType" asp-for="@Model.Transactions[transx].Date" class="form-control" style="width: @(dateWidth)!important;" />
                </td>
                <td style="width:5%"><input id="amount_@t.TransactionId" asp-for="@Model.Transactions[transx].Amount" class="form-control auto-select" style="min-width:80px" onchange="onInputChanged(this, '@t.TransactionId')" /></td>
                <td style="width:60%">
                    <textarea id="details_@t.TransactionId" asp-for="@Model.Transactions[transx].Details" rows="@Model.DetailsHeight" class="form-control" style="min-width:150px;"></textarea>
                </td>
                <td style="width:20%">
                    <input id="category_@t.TransactionId" asp-for="@Model.Transactions[transx].Category"
                       class="form-control auto-select" placeholder="name:key(opt)" style="min-width: 150px;" list="cats" autocomplete="off" />
                </td>
                @if (Model.ShowSource)
                {
                    <td style="min-width: 9em;">
                        @t.Source
                    </td>
                }
                @{
                    var failedDisplay = Model.HasFailed ? "revert" : "none";
                    var addedDisplay = !Model.HasFailed ? "revert" : "none";
                }
                @if (Model.HasFailed)
                {
                    <td style="min-width: 9em;">
                        <div style="display: @failedDisplay" class="failed_@t.TransactionId">
                            <input id="category_@t.TransactionId" asp-for="@Model.Transactions[transx].Reason"
                           class="form-control" placeholder="name:key(opt)" disabled style="min-width: 100px;" />
                        </div>
                    </td>
                }
                <td>
                    <select id="type_@t.TransactionId" asp-for="Transactions[transx].Type" asp-items="Html.GetEnumSelectList<Core.Transactions.TransactionType>()" style="height: 35px; border: 1px solid lightgray; border-radius: 3px"></select>
                </td>
                <td style="width:15%; min-width: 90px;">
                    <div style="display: @failedDisplay" class="failed_@t.TransactionId">
                        <button class="btn" style="width: 30px; height:30px" type="button" formAction="/Transactions/Api/?handler=Create"
                            onclick="onTransactionUpdate(this, '@t.TransactionId', true)">
                            force create
                        </button>
                    </div>
                    <div style="display: @addedDisplay" class="added_@t.TransactionId">
                        <button type="submit" asp-route-id="@t.TransactionId" asp-page-handler="updateTransaction" onclick="return onUpdate(event, '@t.TransactionId')" btn-apply></button>
                        <button type="submit" asp-route-id="@t.TransactionId" asp-page-handler="deleteTransaction" btn-del></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<vc:categories-data-list id="cats"></vc:categories-data-list>
