@page
@model ExpenseTracker.Web.Pages.Transactions.YearMonthCategoryModel

<div class="text-center">
    <form method="post">

        <h5 class="row justify-content-center mt-1">
            <span class="text-center d-inline-block">
                <span class="d-inline-block w-100">Expense</span>
                <span class="badge">@Model.TotalExpense.ToString("N0") / @Model.AverageExpense.ToString("N0")</span>
            </span>
            <span class="text-center d-inline-block">
                <span class="d-inline-block w-100">Income</span>
                <span class="badge">@Model.TotalIncome.ToString("N0") / @Model.AverageIncome.ToString("N0")</span>
            </span>
            @{ var avgBalClass = (Model.AverageBalance >= 0) ? "success" : "danger"; }
            <span class="d-inline-block text-center">
                <span class="d-inline-block w-100">Balance</span>
                <span class="badge badge-@avgBalClass">@Model.Balance.ToString("N0") / @Model.AverageBalance.ToString("N0")</span>
            </span>
        </h5>

        <partial name="_TransactionsFilter" for="Filters" />

        @if (Model.ExpandableMonths.Count > 0)
        {
            <div class="text-left border rounded mb-3">
                @foreach (var catAvg in Model.CategorySummaries)
                {
                    <partial name="_CategorySummary" for="@catAvg" />
                }
            </div>

            @for (int mi = 0; mi < Model.ExpandableMonths.Count; mi++)
            {
                <partial name="_ExpandableMonth" for="@Model.ExpandableMonths[mi]" />
            }
        }
        else
        {
            <div class="alert-warning alert">No transactions found.</div>
        }

        <input type="hidden" id="updated_date" asp-for="UpdatedTransaction.Date" />
        <input type="hidden" id="updated_amount" asp-for="UpdatedTransaction.Amount" />
        <input type="hidden" id="updated_details" asp-for="UpdatedTransaction.Details" />
        <input type="hidden" id="updated_category" asp-for="UpdatedTransaction.Category" />
        <input type="hidden" id="updated_type" asp-for="UpdatedTransaction.Type" />
        <input type="hidden" id="updated_id" asp-for="UpdatedTransaction.TransactionId" />
        <input type="hidden" id="updated_source" asp-for="UpdatedTransaction.Source" />

    </form>
</div>



@section Scripts
    {
    <script>
        function onUpdate(ev, id) {
            var date = document.getElementById('date_' + id);
            var amount = document.getElementById('amount_' + id);
            var details = document.getElementById('details_' + id);
            var category = document.getElementById('category_' + id);
            var type = document.getElementById('type_' + id);
            var source = document.getElementById('source_' + id);

            document.getElementById('updated_date').value = date.value;
            document.getElementById('updated_amount').value = amount.value;
            document.getElementById('updated_details').value = details.value;
            document.getElementById('updated_category').value = category.value;
            document.getElementById('updated_type').value = type.value;
            document.getElementById('updated_id').value = id;
            document.getElementById('updated_source').value = source.value;
        }
    </script>
}