@model IList<Core.Transaction>

<table class="table border rounded table-sm">
    @if (!ViewData.ContainsKey("HideHeader") || !(bool)ViewData["HideHeader"])
    {
        <thead>
            <tr class="table-info">
                <th>Date</th>
                <th>Amount</th>
                <th>Details</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
    }
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            var t = Model[i];
            var typeClass = t.Type == Core.TransactionType.Income ? "table-success" : "";
            <tr id="trRow_@t.Id" class="@typeClass">
                <td><input id="date_@t.Id" type="date" asp-for="@Model[i].Date" class="form-control" style="width: 162px!important;" /></td>
                <td style="width:5%"><input id="amount_@t.Id" asp-for="@Model[i].Amount" class="form-control auto-select" style="min-width:80px"/></td>
                <td style="width:75%">
                    <textarea id="details_@t.Id" asp-for="@Model[i].Details" rows="3" class="form-control" style="min-width:220px"></textarea>
                </td>
                <td style="width:10%">
                    <input id="category_@t.Id" asp-for="@Model[i].Category" 
                           class="form-control auto-select" placeholder="name:key(opt)" style="min-width: 100px;"/>
                </td>
                <td style="width:5%">
                    <input type="hidden" asp-for="@Model[i].Id" />
                    <button class="updateBtn mb-1" style="width:70px" type="button" asp-page-handler="update" asp-page="Index"
                            onclick="onTransactionUpdate(this, @t.Id)"> update </button><br />
                    <button style="width:70px" type="button" asp-page-handler="delete" asp-route-id="@t.Id" asp-page="Index"
                            onclick="onDelete(this, @t.Id)"> 
                        delete 
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function onTransactionUpdate(button, id) {
        var date = document.getElementById("date_" + id).value;
        var details = document.getElementById("details_" + id).value;
        var amount = document.getElementById("amount_" + id).value;
        var category = document.getElementById("category_" + id).value;

        var handler = button.formAction;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    alert("succes");
                } else {
                    alert("error");
                }
            }
        };

        xhttp.open("POST", handler, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("XSRF-TOKEN", document.querySelector('input[name="__RequestVerificationToken"]').value);
        xhttp.send(JSON.stringify({
            Date: new Date(date),
            Details: details,
            Amount: +amount,
            Category: category,
            Id: id,
        }));
    }

    function onDelete(btn, id) {
        var handler = btn.formAction;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    var rowToRemove = document.getElementById("trRow_" + id);
                    rowToRemove.parentNode.removeChild(rowToRemove)
                } else {
                    alert("error");
                }
            }
        };

        xhttp.open("POST", handler, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("XSRF-TOKEN", document.querySelector('input[name="__RequestVerificationToken"]').value);
        xhttp.send();
    }
</script>
