@page
@model IndexModel
@{
    ViewData["Title"] = "Expenses";
    var savingsClassValue = "success";
    if (Model.Saved < 0)
    {
        savingsClassValue = "danger";
    }
}

<partial name="_Submenu" />

<div class="text-center">
    <h1 class="display-4">Transactions</h1>
    <div class="mb-4">
        <span class="badge">Spent: @Model.Expenses.ToString("N0")</span> |
        <span class="badge">Income: @Model.Income.ToString("N0")</span> |
        <span class="badge badge-@savingsClassValue">Balance: @Model.Saved.ToString("N0")</span>
    </div>
    <form method="post" onkeydown="return event.key != 'Enter';">
        <div class="mb-4">
            <button type="submit" asp-page-handler="ClassifyCurrent">Classify Filtered</button>
            <button type="submit" asp-page-handler="ClassifyAll">Classify All</button>
            <button type="submit" asp-page-handler="DeleteFiltered">Delete Filtered</button>
            <button type="submit" asp-page-handler="DeleteAll">Delete All</button>
        </div>
        <partial name="_Filters" for="Filters"/>
        <table class="table border rounded table-sm">
            <thead>
                <tr class="table-info">
                    <th style="width:17.5%">Date</th>
                    <th style="width:7.5%">Amount</th>
                    <th style="width:45%">Details</th>
                    <th style="width:15%">Category</th>
                    <th style="width:15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-dark">
                    <td><input type="datetime-local" asp-for="CreateTransaction.Date" class="form-control" /></td>
                    <td><input onfocus="this.select();" onmouseup="return false;" asp-for="CreateTransaction.Amount" class="form-control createInitialFocus" /></td>
                    <td><textarea asp-for="CreateTransaction.Details" rows="3" class="form-control"></textarea></td>
                    <td><input asp-for="CreateTransaction.Category" class="form-control" placeholder="name:key(opt)" onkeyup="onCreateEnter(event)" /></td>
                    <td>
                        <button type="submit" asp-page-handler="create" asp-route-expense="0" class="w-75 mb-2 updateBtn"> Add Expense </button>
                        <button type="submit" asp-page-handler="create" asp-route-expense="1" class="w-75"> Add Income </button>
                    </td>
                </tr>
                @{
                    for (var i = 0; i < Model.Transactions.Count; i++)
                    {
                        var t = Model.Transactions[i];
                        var typeClass = t.Type == Core.TransactionType.Income ? "table-success" : "";
                        <tr class="@typeClass">
                            <td><input type="text" asp-for="Transactions[i].Date" class="form-control" /></td>
                            <td><input asp-for="Transactions[i].Amount" class="form-control" /></td>
                            <td><textarea asp-for="Transactions[i].Details" rows="3" class="form-control updateInitialFocus"></textarea></td>
                            <td><input asp-for="Transactions[i].Category" class="form-control" placeholder="name:key(opt)" onkeyup="onUpdateEnter(event)" /></td>
                            <td>
                                <input type="hidden" asp-for="Transactions[i].Id" />
                                <button class="updateBtn" type="submit" asp-page-handler="update" asp-route-id="@t.Id" onclick="appendPosition(this)"> update </button>
                                <button type="submit" asp-page-handler="delete" asp-route-id="@t.Id" onclick="appendPosition(this)"> delete </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
</div>

@section Scripts {
    <partial name="_AutoScrollScriptPartial" />
    <script>
        function onUpdateEnter(e) {
            createOrUpdateTransaction(e, "update")
        }

        function onCreateEnter(e) {
            createOrUpdateTransaction(e, "create")
        }

        function createOrUpdateTransaction(e, operation) {
            if (e.isComposing || e.keyCode === 229)
                return;
            e.stopPropagation();
            if (e.keyCode === 13) {
                var trgBtn = e.originalTarget || e.target;
                var btn = trgBtn.parentElement.parentElement.getElementsByClassName("updateBtn")[0];
                appendPosition(btn);
                btn.formAction = "&Operation=" + operation;
                btn.click();
            }
        }

        @if (!string.IsNullOrWhiteSpace(Model.Operation))
        {
            <text>
                window.onload = function () {
                    document.getElementsByClassName("@(Model.Operation)InitialFocus")[0].focus();
            }
            </text>
        }
    </script>
}
