@page
@model ExpenseTracker.Web.Pages.Budget.Index
@{
    var dateFormat = "MMM yyyy";
}

<div class="row justify-content-center">
    <form method="post" class="col-lg-6 col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Entries</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var budget in Model.Budgets)
                {
                    <tr>
                        <td>@budget.FromMonth.ToString(dateFormat)</td>
                        <td>@budget.ToMonth.ToString(dateFormat)</td>
                        <td>
                            <table class="table table-borderless table-sm">
                                @foreach (var t in budget.ExpectedTransactions)
                                {
                                    var typeClass = t.Type == Core.TransactionType.Expense ? "danger" : "success";
                                    <tr>
                                        <td class="text-@typeClass">@t.Amount.ToString("N0")</td>
                                        <td>@t.Category</td>
                                        <td>@t.Details</td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-secondary" asp-page="./Edit" asp-route-id="@budget.Id">Edit</a>
                            <button class="btn btn-sm btn-danger" type="submit" asp-page-handler="Delete" asp-route-id="@budget.Id">X</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <div class="col-1 mt-2">
        <a class="btn btn-success font-weight-bolder" style="border-radius:50px;" asp-page="Edit">+</a>
    </div>
</div>
