@page
@model ExpenseTracker.Web.Pages.Budgets.ProjectionsModel
@{
    var dateFormat = "MMM yyyy";
}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <h1 class="mb-3" style="text-align:center">Projections</h1>
        <form method="post" class="row rounded p-3 mb-3 form-inline justify-content-center">
            <input asp-for="FromMonth" type="date" class="form-control mr-1" />
            <input asp-for="ToMonth" type="date" class="form-control mr-1" />
            <input type="submit" asp-page-handler="Filter" value="Filter" class="btn btn-primary" />
        </form>
        <hr />
        @{
            var balance = this.Model.AllMonthsIncome - this.Model.AllMonthsExpenses;
            var calcCss = "danger";
            if (balance > 0)
                calcCss = "success";
        }
        <div class="row justify-content-center mb-3" style="text-align:center">
            <div class="col">Spent <br /> <span class="text-danger" style="font-size: x-large">@this.Model.AllMonthsExpenses</span></div>
            <div class="col">Income <br /> <span class="text-success" style="font-size: x-large">@this.Model.AllMonthsIncome</span></div>
            <div class="col">Balance <br /> <span class="text-@calcCss" style="font-size: x-large">@balance</span></div>
        </div>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                @foreach (var budget in this.Model.Projections)
                {
                    <tr class="table-secondary" style="font-size:large">
                        <td>@budget.Month.ToString(dateFormat)</td>
                        <td colspan="3" style="text-align:center">
                            @budget.TotalExpense | @budget.TotalIncome | @(budget.TotalIncome - budget.TotalExpense)
                        </td>
                    </tr>
                    @foreach (Core.Transaction t in budget.ExpectedTransactions)
                    {
                        <tr>
                            <td></td>
                            <td>@(t.Category)</td>
                            <td>@(t.Amount)</td>
                            <td>@(t.Type)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>